main {
  min-height: 80vh;
}

.logo {
  gap: 10px;
}

.logo img {
  height: 50px !important;
  width: 50px;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-bottom: 15px;
  }

  .mobile {
    justify-content: center !important;
  }
}
